/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */

style {
    color: #11371B
        #F09733
        #6D5911
        #FFFFFF
        #131212;
}
body{
	font-family: 'Open Sans', sans-serif;
}
h3{
	font-family: 'Playfair Display', serif;
	margin-top: 20px;
}
#navigation{
  margin-left: 25%;
 
}
#navigation a{
   color: rgb(0, 0, 0);
}
section{
	padding-left:50px;
}
.overlay-text{
   osition: absolute;
    eft: 30px;
    op: 30px;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 50px;
	padding-bottom: 300px;
	padding-left: 50px;
	padding-right: 20px;
}
.Delivery_Hours{
	position: absolute;
	right:0;
	bottom:0;
	padding: 20px 10px 0px 10px;
}
.Horizontal_Line{
	border-bottom:2px solid black;
	idth:30px;
	display:inline;
	color:transparent;
}
.social-icon{
  float: right;
  margin-bottom: 15px;
  font-size: 22px;
}
.social-icon a{
  display: inline;
  color: rgb(255, 255, 255);
  padding: 8px;
}
footer{
	background: rgb(0, 0, 0);
	padding:20px 50px 20px 50px;
}